* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-image: linear-gradient(#d8c7ff, #19006c);
}

.container {
  width: 640px;
  margin: auto;
  margin-top: 150px;
  background: white;
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
}
.container hr {
  height: 2px;
  bottom: none;
  background: #707070;
}
.container h2 {
  font-size: 27px;
  font-weight: 500;
}
li {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  border: 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
}
button {
  margin: auto;
  width: 250px;
  height: 65px;
  background: #553f9a;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
}
.currect {
  background: #dffff2;
  border-color: #00d397;
}
.wrong {
  background: #ffebeb;
  border-color: #262626;
}
